@import "../../secondary-research-input/secondary-research-input-element/secondary-research-input-element.component";

.outer-container {
  padding: 20px;

  .module-heading-container {
    text-align: center;
  }
}

.horizontal-scroll {
  overflow: auto;
}

.back-container {
  float: left;
  width: 100%;
  margin-bottom: 50px;
}

.module-link {
  float: left;
  width: auto;
  margin: 0 10px 10px 0;
}

.back-button {
  margin: 10px 0;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;

  &:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
}
.card-element {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  //border-radius: 0.25rem;
}

.up-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.image-source {
  margin-top: 10px;
  float: left;
  width: 100%;
}
