<div>
  <table style="width:100%;margin-right:auto;margin-left:auto;border:1px solid #000;border-collapse:collapse">
    <thead>
      <tr>
        <th style="border:1px solid #000;padding-right:5.03pt;padding-left:5.03pt;vertical-align:middle;text-align: center;"
          *ngFor="let heading of dataElement.data.heading">
          <div>
            <p [innerHTML]="heading" style="color:#000000;font-family: Roboto Condensed;font-size:10pt;text-align: justify;">
            </p>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of dataElement.data.data; let i= index">
        <th style="border:1px solid #000;padding-right:5.03pt;padding-left:5.03pt;vertical-align:middle;text-align: left;"
          *ngFor="let rowEle of row|slice:0:1">
          <div>
            <p [innerHTML]="rowEle" style="color:#000000;font-family: Roboto Condensed;font-size:10pt;text-align: justify;">
            </p>
          </div>
        </th>
        <td style="border:1px solid #000;padding-right:5.03pt;padding-left:5.03pt;vertical-align:middle;text-align: center;"
          *ngFor="let rowEle of row.slice(1)">
          <div>
            <p [innerHTML]="rowEle" style="color:#000000;font-family: Roboto Condensed;font-size:10pt;text-align: justify;">
            </p>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <app-source-output></app-source-output>
</div>