<p *ngIf="!level" style="page-break-before:always;font-family:'Helvetica 45 Light';font-size:28pt;color:#1B7E60;text-transform: uppercase;">
    {{dataElement}}</p>

<p *ngIf="level == 1"
    style="font-family:'Roboto Condensed'; font-size:11pt; text-transform:uppercase; color:#125440;font-weight: bold;">
    {{counter+ '.'}}<span>&nbsp;&nbsp;&nbsp;{{dataElement}}</span></p>

<p *ngIf="level == 2"
    style="font-family:'Roboto Condensed'; font-size:10pt; color:#000000;margin-left: 5pt;padding-left:5pt;">
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{counter+ '.'}}</span><span>&nbsp;&nbsp;&nbsp;&nbsp;{{dataElement}}</span></p>

<p *ngIf="level == 3"
    style="font-family:'Roboto Condensed'; font-size:10pt; color:#000000;margin-left: 10pt;padding-left:10pt;font-style: italic;">
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{counter+ '.'}}</span><span>&nbsp;&nbsp;&nbsp;&nbsp;{{dataElement}}</span>
</p>

<p *ngIf="level == 4"
    style="font-family:'Roboto Condensed'; font-size:10pt; color:#000000;margin-left: 15pt;padding-left:15pt;font-style: italic;">
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{counter+ '.'}}</span><span>&nbsp;&nbsp;&nbsp;&nbsp;{{dataElement}}</span>
</p>