<div class="position-fixed w-100 bg-light" *ngIf="duplicateCps">
  <mat-form-field class="w-100 px-2">
    <input matInput [formControl]="searchCp" placeholder="Search companies">
  </mat-form-field>
</div>
<cdk-virtual-scroll-viewport itemSize="30" class="vs-container pt-3">
  <table class="w-100" *ngIf="duplicateCps">
    <tr class="row py-3 flexer border-bottom">
      <th class="col-sm">Company</th>
      <th class="col-sm">Select</th>
      <th class="col-sm">Checked</th>
    </tr>
    <tr *cdkVirtualFor="let cp of duplicateCps;let cpi = index;" class="row flexer">
      <td class="col-sm">{{cp?.cp_name}}</td>
      <td class="col-sm">
        <mat-form-field>
          <mat-label>Select</mat-label>
          <mat-select multiple (selectionChange)="selection(cpi,fcIndex[cpi])" [formControl]="element.controls[fcIndex[cpi]]">
            <mat-option *ngFor="let item of cp?.duplicates" [(value)]="item" [title]="item?.cp_name">{{item?.cp_name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td class="col-sm">
        <mat-checkbox [checked]="cp?.isCompleted" (change)="updateCp($event.checked, cpi)">Checked</mat-checkbox>
      </td>
    </tr>
  </table>
</cdk-virtual-scroll-viewport>