<div>
    <table style="width:100%;margin-right:auto;margin-left:auto;border:1px solid #000;border-collapse:collapse">
        <tbody>
            <tr style="height:1.45pt;" *ngFor="let row of dataElement.data.data; let i=index">
                <td
                    style="border:1px solid #000;padding-right:5.03pt;padding-left:5.03pt;vertical-align:middle;width:40%">
                    <div *ngFor="let dt of row.title; let j = index">
                        <div [innerHTML]="dt.title | formatCustomData"
                            style="color:#000000;font-family: Roboto Condensed;font-size:10pt;text-align: justify;">
                        </div>
                    </div>
                </td>
                <td
                    style="border:1px solid #000;padding-right:5.03pt;padding-left:5.03pt;vertical-align:middle;width: 60%;">
                    <div *ngFor="let dt of row.data; let j = index">
                        <div [innerHTML]="dt.data | formatCustomData"
                            style="color:#000000;font-family: Roboto Condensed;font-size:10pt;text-align: justify;">
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <app-source-output></app-source-output>
</div>