<div class="container-fluid">
  <div class="me-save-btn-container">
    <a (click)="toNextPage()" class="mfr-button-row-btn" mat-raised-button color="primary" >Next</a>
    <button class="mfr-button-row-btn" mat-raised-button color="primary" (click)="onSubmit()">Save</button>
    <button class="mfr-button-row-btn" mat-raised-button color="primary" (click)="toPreviousPage()">Back</button>
  </div>
  <div class="container-fluid mt-2">
    <div class="row ml-2">
      <mat-select class="form-control width-100px" [(ngModel)]="metricsSelector">
        <mat-option value="{{item}}" *ngFor="let item of metrics"> {{item}}
        </mat-option>
      </mat-select>
      <div class="col-md-5 p-2 pl-20 ml-20">
        <div class="row">
          <mat-radio-group [(ngModel)]="tableTypeOption" #radioGroup="matRadioGroup" (change)="onRadioSelect()">
            <mat-radio-button class="ml-5" [disabled]="tableTypeOption !== 'WOVOL' ? null : true" value="VOL">With
              Volume
            </mat-radio-button>
            <mat-radio-button class="ml-5" value="WOVOL">Without Volume</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

    </div>
    <div class="row ml-1">
      <tabset id="tabSet">
        <tab *ngFor="let tab of tabSections" class="mt-2 me-grid-renderer"
             heading="{{tab.header}}"
             id="{{tab.key}}"
             (selectTab)="onSelect($event)">
          <div class="upload-btn-container">
            <button [disabled]="!isCSVUploadValid" class="excel-download-btn mfr-button-row-btn" mat-raised-button color="primary" (click)="saveDataToAPI(this.finalAPICSVData)"><i class="fa fa-upload"></i> CSV</button>
            <div class="custom-file btn-sm">
              <input type="file" class="custom-file-input" id="customFile" (change)="fileChangeListener($event)"/>
              <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <button (click)="downloadTabCSV(tab)" class="btn btn-sm btn-primary excel-download-btn" title="Download CSV"><i
              class="fa fa-download"></i> CSV
            </button>
          </div>
          <div [attr.id]="tab.key+ '_section'">
            <div class="row" [attr.id]="tab.key+ '_section_label'">
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>
