.me-save-btn-container {
  text-align: right;
  .mfr-button-row-btn {
    font-size: 13px;
    line-height: 25px;
    margin: 0 10px 0 0;
  }
}
.me-grid-renderer {
  margin: 2px;
  height: 80vh;
  overflow: auto;
  border: 1px solid lightgray;
  padding-left: 5px;
}

.upload-btn-container {
  float: right;
  padding: 9px 8px;
  width: 100%;
  border-bottom: 1px solid lightgray;
  margin-bottom: 6px;

  .custom-file {
    float: right;
    width: auto;
  }
  .excel-download-btn {
    float: right;
    width: auto;
    margin: 0 7px;
  }
}
.width-100px {
  width: 100px;
}

.me-grid-renderer::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.me-grid-renderer::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

mat-select {
  border: 1px solid #cbcbcb;
}

.tab-container {
  width: 100%;
}

.tabulator.thead-dark .tabulator-header, .tabulator.thead-dark .tabulator-header .tabulator-col {
  background-color: gray;
}
