@import "../sample-report.component";
.prefixs{
    width: 100px !important;
}
.delete-company {
    font-size: 30px;
    color: red;
    cursor: pointer;

    &:hover {
      color: black;
      opacity: 0.7;
    }
}
.full-width {
    width: 100%;
}
.margin-right-40{
    margin-right: 40px;
}

.element-head {
  float: left;
  width: 96%;
}
.img-box-container{
  width: fit-content !important;
  background: transparent;
  ul{
    padding: 0;
    padding-left: 20px;
    li{
      font-size: 14px;
    }
  }
}
.box-desing{
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  padding-bottom: 50px;
}
.childs{
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  padding-bottom: 50px;
  &:nth-child(1){
    border-top: 8px solid rgb(226, 83, 101);
    border-bottom: 5px solid rgb(226, 83, 101);
  }
  &:nth-child(2){
    border-top: 8px solid rgb(21,117,168);
    border-bottom: 5px solid  rgb(21,117,168);
  }
  &:nth-child(3){
    border-top: 8px solid rgb(226,175,50);
    border-bottom: 5px solid rgb(226,175,50);
  }
  &:nth-child(4){
    border-top: 8px solid rgb(37,169,130);
    border-bottom: 5px solid rgb(37,169,130);
  }
  &:nth-child(5){
    border-top: 8px solid rgb(3,191,193);
    border-bottom: 5px solid rgb(3,191,193);
  }
  &:nth-child(6){
    border-top: 8px solid rgb(113,32,123);
    border-bottom: 5px solid rgb(113,32,123);
  }
  &:nth-child(7){
    border-top: 8px solid rgb(201,107,20);
    border-bottom: 5px solid rgb(201,107,20);
  }
  &:nth-child(8){
    border-top: 8px solid rgb(99,202,78);
    border-bottom: 5px solid rgb(99,202,78);
  }
  &:nth-child(9){
    border-top: 8px solid rgb(192,20,108);
    border-bottom: 5px solid rgb(192,20,108);
  }
  &:nth-child(10){
    border-top: 8px solid rgb(83, 15, 3);
    border-bottom: 5px solid rgb(83, 15, 3);
  }
}

.backgrounds{
  background: #dbdbdb;
  width: 200px;
}
