<mat-toolbar color="info">
  <mat-toolbar-row>
    <img routerLink="/" class="home-image" alt="Logo" src="https://d262od1w3no28z.cloudfront.net/assets/logo-165a6578fb10a464fcff94360c6ff97c5cbdaeec928b3d7c6ff97abd2d3df66c.png" />
    <!-- <span>Market Future Research</span> -->
    <span class="example-fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="mfr-spacer"></span>

    <!-- <button mat-button [routerLink]="['secondary-input']">Secondary Input</button> -->
    <!-- <button mat-button [routerLink]="['me-report']">ME Report</button> -->
    <button *ngIf="!isLoggedIn" mat-button [routerLink]="['login']">Login</button>
    <button *ngIf="!isLoggedIn" mat-button [routerLink]="['register']">Register</button>
    <button *ngIf="isLoggedIn" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item  [routerLink]="['profile']">
        <mat-icon>dialpad</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item (click)="logoutMe()">
        <mat-icon>notifications_off</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>

  </mat-toolbar-row>


</mat-toolbar>
