/deep/ .app-ngx-editor-width {
  width: 100% !important;
  #ngxEditor {
    width: 100% !important;
  }
}

.scroll-40-height {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 40vh;
}
