/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap-grid.scss';
@import '~bootstrap/scss/bootstrap.scss';
@import '~tabulator-tables/dist/css/tabulator.min.css';
@import '~ngx-toastr/toastr';

html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mfr-card {
  max-width: 800px;
}

.mfr-form {
  max-width: 600px;
  width: 100%;
}

.mfr-full-width {
  width: 100%;
}

button {
  &:focus {
    outline: none;
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}
.center {
  text-align: center;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 12px;
  height: 6px;
  background-color: #F5F5F5;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
  background-color: #AAA;
}

.padding-0 {
  padding: 0;
}

.margin-5 {
  margin: 5px;
}

.scroll-75-height {
  overflow-y: auto;
  height: 75vh;
}

.modal-close-btn {
  z-index: 999999;
  position: absolute;
  right: -20px;
  top: -20px;
  line-height: 14px;
  font-size: 27px;
  padding: 6px;
}


.float-l {
  float: left;
  width: auto;
}

.float-l-width {
  float: left;
  width: 100%;
}
