<p *ngIf="level == 1"
    style="page-break-before:always;font-family:'Helvetica 45 Light'; font-size:24pt; text-transform:uppercase; color:#1B7E60;">
    {{counter}}&nbsp;&nbsp;&nbsp;&nbsp;<span>{{dataElement}}</span></p>

<p *ngIf="level == 2"
    style="font-family:'Roboto Condensed'; font-size:13pt; text-transform:uppercase; color:#000000;">
    {{counter}}&nbsp;&nbsp;&nbsp;&nbsp;<span>{{dataElement}}</span></p>

<p *ngIf="level == 3"
    style="font-family:'Roboto Condensed'; font-size:11pt; text-transform:uppercase; color:#0D0D0D;">
    {{counter}}&nbsp;&nbsp;&nbsp;&nbsp;<span>{{dataElement}}</span></p>

<p *ngIf="level == 4"
    style="font-family:'Roboto Condensed'; font-size:11pt; text-transform:uppercase; color:#0D0D0D;">
    {{counter}}&nbsp;&nbsp;&nbsp;&nbsp;<span>{{dataElement}}</span></p>