<p style="page-break-before:always;font-family:'Roboto Condensed'; font-size:11pt; text-transform:uppercase; color:#125440;">
  NOTE: </p>
<div>
  <div>
    <p style="color:#000000;font-family: Roboto Condensed;font-size:10pt;text-align: justify;">
      This table of content is tentative and subject to change as the research progresses.
    </p>
  </div>
</div>
<ul style="color:#c52136;">
  <li style="list-style: square;">
    <div>
      <p style="color:#000000;font-family: Roboto Condensed;font-size:10pt;text-align: justify;">In section 
        <span *ngIf="sharedSampleTocService.cpNo">{{sharedSampleTocService.cpNo}}</span>, only the
        top ten companies will
        be profiled. Each company will be profiled based on the Market Overview,
        Financials, Product Portfolio, Business Strategies, and Recent Developments parameters.</p>
    </div>
  </li>
  <li style="list-style: square;">
    <div>
      <p style="color:#000000;font-family: Roboto Condensed;font-size:10pt;text-align: justify;">SWOT Analysis will be
        provided for top 5
        companies</p>
    </div>
  </li>
  <li style="list-style: square;">
    <div>
      <p style="color:#000000;font-family: Roboto Condensed;font-size:10pt;text-align: justify;">Please note: The
        financial details of the
        company cannot be provided if the information is not available in the public domain and
        or from reliable sources.</p>
    </div>
  </li>
</ul>