<div *ngFor="let dataElement of secondaryInputData">
  <div>
    <div class="container-fluid">
      <div class="row">
        <div style="padding-left: 0;">
          <div>
            <ng-container class="component-element-renderer" [ngSwitch]="dataElement?.type">
              <!-- TEXT -->
              <div *ngSwitchCase="'TEXT'">
                <app-text-output [dataElement]="dataElement?.data"></app-text-output>
              </div>

              <!-- TABLE -->
              <div *ngSwitchCase="'TABLE'">
                <p class="mat-caption"><span class="font-weight-bold">Title
                    :</span>{{dataElement.data.metaDataValue.title}}
                </p>
                <app-table-output [dataElement]="dataElement"></app-table-output>
              </div>

              <!-- IMAGE -->
              <div *ngSwitchCase="'IMAGE'">
                <p class="mat-caption"><span class="font-weight-bold">Title
                    :</span>{{dataElement.data.metaDataValue.title}}
                </p>
                <app-image-output [dataElement]="dataElement"></app-image-output>
              </div>

              <!-- PIE -->
              <div *ngSwitchCase="'PIE'">
                <app-figure-heading-output [dataElement]="dataElement.data.metaDataValue.title">
                </app-figure-heading-output>
                <app-pie-chart-output [dataElement]="dataElement"></app-pie-chart-output>
              </div>

              <!-- BAR -->
              <div *ngSwitchCase="'BAR'">
                <app-figure-heading-output [dataElement]="dataElement.data.metaDataValue.title">
                </app-figure-heading-output>
                <app-bar-chart-output [dataElement]="dataElement"></app-bar-chart-output>
              </div>

              <!-- CUSTOMTABLE -->
              <div *ngSwitchCase="'CUSTOM_TABLE'">
                <app-table-heading-output [dataElement]="dataElement?.data.title"></app-table-heading-output>
                <app-custom-table-output [dataElement]="dataElement"></app-custom-table-output>
              </div>

              <!-- METABLE -->
              <div *ngSwitchCase="'ME_TABLE'">
                <app-me-table-output [dataElement]="dataElement"></app-me-table-output>
              </div>
              
              <!-- HEADING -->
              <div class="container-fluid" *ngSwitchCase="'HEADING'">
                <p><b>{{dataElement.data}}</b></p>
              </div>
            </ng-container>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>