<div class="mt-2 h4 text-center">Market Estimation Info</div>
<div class="container-fluid">
  <ng-container *ngFor="let dataNode of dataList">
    <div class="card">
    <div class="card-body">
      <app-text-table-data [textTableData]="dataNode"></app-text-table-data>
    </div>
    </div>
    <br>
  </ng-container>
  <div class="row">
    <div class="col">
      <a mat-raised-button color="primary" (click)="onSave()">Save</a>
      <button mat-raised-button color="primary" class="float-right" (click)="toPreviousPage()">Back</button>
    </div>
  </div>
</div>
