<div class="card">
  <div class="card-body">
    <button type="button" class="close" aria-label="Close" (click)="doClose(tableData)">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="row">
      <div class="col-12 scroll-75-height">
        <h5 class="card-title">Custom Table</h5>
        <div class="col-12">
          <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput [(ngModel)]="tableData.title">
          </mat-form-field>
          <button style="float:right" mat-raised-button type="button" (click)="addRow()" color="primary">Add New Row
          </button>
          <table class="table table-bordered table-hover">
            <tbody>
              <tr *ngFor="let row of tableData?.data; let i=index">
                <td>
                  <ul>
                    <li *ngFor="let dt of row?.title;">
                      <app-ngx-editor class="app-ngx-editor-width" autofocus [placeholder]="'Enter text here...'"
                        [config]="editorConfig" [(ngModel)]="dt.title">
                      </app-ngx-editor>
                    </li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li *ngFor="let dt of row?.data;">
                      <app-ngx-editor class="app-ngx-editor-width" autofocus [placeholder]="'Enter text here...'"
                        [config]="editorConfig" [(ngModel)]="dt.data">
                      </app-ngx-editor>
                    </li>
                  </ul>
                </td>
                <td>
                  <i (click)="deleteRow(row)" class="fa fa-trash-o delete-row"></i>
                  <i *ngIf="i == tableData?.data.length-1 && row.data!='' && row.title!=''" (click)="addRow()"
                  class="fa fa-plus add-row"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <button mat-raised-button (click)="save()" color="primary">Save</button>
        <button class="ml-2" mat-raised-button (click)="doClose(tableData)">Cancel</button>
      </div>
    </div>
  </div>
</div>