.box-desing{
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    padding-bottom: 50px;
}
.childs:nth-child(1){
    border-top: 8px solid rgb(248, 100, 100);
    border-bottom: 5px solid rgb(248, 100, 100);
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    padding-bottom: 50px;
}
.childs:nth-child(2){
    border-top: 8px solid #007bff;
    border-bottom: 5px solid #007bff;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    padding-bottom: 50px;
}
.childs:nth-child(3){
    border-top: 8px solid #ffc107;
    border-bottom: 5px solid #ffc107;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    padding-bottom: 50px;
}
.childs:nth-child(4){
    border-top: 8px solid #28a745;
    border-bottom: 5px solid #28a745;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    padding-bottom: 50px;
}
.childs:nth-child(5){
    border-top: 8px solid #20c997;
    border-bottom: 5px solid #20c997;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    padding-bottom: 50px;
}
.childs:nth-child(6){
    border-top: 8px solid #6f42c1;
    border-bottom: 5px solid #6f42c1;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    padding-bottom: 50px;
}
.backgrounds{
    background: #dbdbdb;
    width: 200px;
}