<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-sm-3">
      <h1 class="mat-h1">Welcome <span *ngIf="user">{{user.name | titlecase}}</span></h1>
      <a mat-raised-button class="btn-block" color="primary" routerLink="/me-report/new">Add New Report</a>
      <a mat-raised-button class="btn-block" color="primary" routerLink="/me-report">Review/Edit existing report</a>
      <a mat-raised-button class="btn-block" color="primary" routerLink="/duplicate_cps">Review identical companies</a>
      <a mat-raised-button class="btn-block" color="primary" routerLink="/document">Upload Document Report</a>
      <ng-container *ngIf="isAdminLogin">
        <a mat-raised-button color="primary" class="btn-block" routerLink="/admin-panel">Admin Panel</a>
        <a mat-raised-button color="primary" class="btn-block" routerLink="/admin/assign-user-reports">Assign User Reports</a>
        <a mat-raised-button color="primary" class="btn-block" routerLink="/admin/featured-reports">Featured Reports</a>
      </ng-container>
    </div>
  </div>
</div>
