.mfr-full-width {
  width: 400px !important;
}
.report-table {
  th, td {
    padding: 6px;
  }
}

.report-header-container {
  float: left;
  margin: 15px 0;
  width: 100%;
  h5 {
    float: left;
  }
  a {
    float: right;
  }
}
.report-card {
  padding: 0 15px;
}
.make-scrollable {
  height: 200px;
  width: 100%;
  overflow-y: scroll;
  border: 1px solid #AAA;
}

/deep/ mat-list-item {
  cursor: pointer !important;
  &:hover {
    opacity: 0.7 !important;
  }
}
