<div>
    <table style="width:100%;margin-right:auto;margin-left:auto;border:1px solid #000;border-collapse:collapse"
        mat-table [dataSource]="dataElement.data.dataStore" class="conponent-table">
        <ng-container *ngFor="let colMetadata of dataElement.data.cols" matColumnDef="{{colMetadata}}">
            <th mat-header-cell *matHeaderCellDef
                style="border:1px solid #000;padding-right:5.03pt;padding-left:5.03pt;vertical-align:middle;text-align: left;">
                <div>
                    <p [innerHTML]="colMetadata"
                        style="color:#000000;font-family: Roboto Condensed;font-size:10pt;text-align: justify;font-weight: bold;">
                    </p>
                </div>
            </th>
            <td mat-cell *matCellDef="let element"
                style="border:1px solid #000;padding-right:5.03pt;padding-left:5.03pt;vertical-align:middle;text-align: center;">
                <div>
                    <p [innerHTML]="element[colMetadata]"
                        style="color:#000000;font-family: Roboto Condensed;font-size:10pt;text-align: justify;">
                    </p>
                </div>
            </td>
        </ng-container>
        <tr style="height:1.45pt;" mat-header-row *matHeaderRowDef="dataElement.data.cols"></tr>
        <tr style="height:1.45pt;" mat-row *matRowDef="let row; columns: dataElement.data.cols;"></tr>
    </table>
    <app-source-output></app-source-output>
</div>