<div class="container">  
  <div class="row justify-content-center mt-4 p-3 border">
    <input type="file" (change)="onFileChanged($event)" #csvfile>
    <button mat-raised-button (click)="uploadCSV()" color="primary" [disabled]="disabled">Upload Interconnect</button> 
    <button mat-raised-button (click)="back()" color="primary" class="ml-2">Back</button>    
  </div>
</div>
<div *ngIf="updated?.error" class="container">
  <div class="row justify-content-center mt-4 p-3 border text-danger">
    {{updated?.msg}} Also please check the csv file <span class="font-weight-bold px-1"> String Delimiter </span> is set to double qoutes(").
  </div>
</div>
<div *ngIf="!updated.length" class="container">
  <div class="row justify-content-center mt-4 p-3 border text-info">
  Before you proceed please check the csv file <span class="font-weight-bold px-1"> String Delimiter </span> is set to double qoutes(").
  </div>
</div>
<div *ngIf="updated.length" class="container">
  <div class="row justify-content-center mt-4 p-3 border text-info text-center">
    Please check below table till end, whether all companies are covered or not. If you found companies are missing, please check the csv file <span class="font-weight-bold px-1"> String Delimiter </span> is set to double qoutes(") and try to upload.  
  </div>
</div>
<div class="container my-4" *ngIf="updated.length">
  <table class="border w-100">
    <tr class="p-2 m-2 border">
      <th class="p-2 m-2 border">CompanyId</th>
      <th class="p-2 m-2 border">Company Name</th>
      <th class="p-2 m-2 border">Stocks</th>
      <th class="p-2 m-2 border">Ticker</th>
      <th class="p-2 m-2 border">Leads</th>
      <th class="p-2 m-2 border">Filings</th>
    </tr>
    <tr *ngFor="let item of updated" class="p-2 m-2 border">
      <td class="p-2 m-2 border">{{item.companyId}}</td>
      <td class="p-2 m-2 border">{{item.name}}</td>
      <td class="p-2 m-2 border">{{item.stocks}}</td>
      <td class="p-2 m-2 border">{{item.ticker}}</td>
      <td class="p-2 m-2 border">{{item.leads}}</td>
      <td class="p-2 m-2 border">{{item.filings}}</td>
    </tr>
  </table>
</div>