.mfr-button-row button {
    margin: 8px;
  }
  
  .component-renderer {
    //margin: 15px;
    height: 71vh;
    width: 98%;
    overflow: auto;
    border: 1px solid black;
  }
  
  .component-element-renderer {
    padding-bottom: 20px;
  }
  
  div.comment-item {
    outline: none;
  }
  
  .conponent-table {
    width: 100%;
  }
  
  .my-sidebar {
    -ms-flex: 0 0 10px;
    flex: 0 0 10px;
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .responsiveImg {
      border: 1px solid #ddd;
      /* Gray border */
      border-radius: 4px;
      /* Rounded border */
      padding: 5px;
      /* Some padding */
      width: 150px;
      /* Set a small width */
      &:hover { /* Add a hover effect (blue shadow) */
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
      }
  }
  