<div class="container-fluid">
  <div class="row justify-content-center mt-5">
    <div class="col-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <span>Competitor Dashboard</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <div class="container-fluid">
              <div class="row comp-error" *ngIf="(data.allHeads | json) == '{}'"><p>ME (Segments and countries name) data to be entered before entering data here.</p></div>
            <div class="row"  *ngIf="(data.allHeads | json) != '{}'">
              <div class="col">
                <div class="table-container">
                  <table class="table table-bordered">
                    <tr>
                      <th rowspan="2">Company Name</th>
                      <th *ngFor="let item of data.allHeads | keyvalue" [attr.colspan]="data.allHeads[item.key].length">
                        {{item.key | startOnlyWithAlphabets}}</th>
                      <th rowspan="2"></th>
                    </tr>
                    <tr>
                      <th *ngFor="let item of data.allHeads | keyvalue | valueFromKey">{{item}}</th>
                    </tr>
                    <tr *ngFor="let item of data.allData">
                      <td *ngFor="let text of objectKeys(item)">
                        <p *ngIf="checkType(item[text])">{{item[text]}}</p>
                        <mat-icon *ngIf="!checkType(item[text]) && item[text]">done</mat-icon>
                        <mat-icon *ngIf="!checkType(item[text]) && !item[text]">close</mat-icon>
                      </td>
                      <button mat-raised-button color="primary" (click)="removeEntry(item)" >Remove</button>
                    </tr>
                    <td>
                      <mat-form-field>
                        <input matInput placeholder="Company Name" type="text" name="companyName" id="companyName"
                          required [(ngModel)]="newData.company">
                      </mat-form-field>
                    </td>
                    <td *ngFor="let item of allKeys">
                      <input type="checkbox" name="item" [(ngModel)]="newData[item]">
                    </td>
                    <td>
                      <button mat-raised-button color="primary" (click)="addNewEntry()">Add</button>
                    </td>

                    <tr>

                    </tr>
                  </table>

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <a  *ngIf="(data.allHeads | json) != '{}'" mat-raised-button (click)="onSubmit()" color="primary">Save</a>
                <button  mat-raised-button color="primary" class="float-right" (click)="toPreviousPage()">Back</button>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
