<div class="container-fluid">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <span> Global {{currentReport?.title }} - Market estimation</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="mt-2">
            <div class="form-group row">
              <div class="col-8">
                <mat-form-field class="mfr-full-width">
                  <mat-label>Select Regions</mat-label>
                  <mat-select  (selectionChange)="changeRegionSelected($event)" [(ngModel)]="allRegions" multiple>
                    <mat-option *ngFor="let region of regionData" [value]="region?.region">{{region?.region}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="form-group row" *ngIf="showCoutryEle">
              <div class="col-6">
                <mat-card>
                  <mat-card-content>
                    <app-kv-multi-select *ngFor="let ele of selectedDataCountryMap" [header]="ele?.region"
                      [dataList]="ele?.countries" [inputValues]="ele?.countriesValues"
                      (elementSelectionChange)="countrySelected(ele, $event)">
                    </app-kv-multi-select>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-10">
                <button mat-raised-button type="submit" [disabled]="disableSaveButton()" color="primary" (click)="saveData()">Save & Proceed to Segment</button>
                <button mat-raised-button color="primary" class="float-right" (click)="toPreviousPage()">Back</button>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
