.delete-company {
    font-size: 30px;
    color: red;
    cursor: pointer;
  &:hover {
    color: black;
    opacity: 0.7;
  }
}
.margin-right-40 {
    margin-right: 40px;
}
.element-head {
  float: left;
  width: 96%;
}
.full-width {
  width: 100%;
}