.borderless {
  border: none;
}
.close {
  float: none;
  line-height: 1;
  text-align: center;
  margin: 0 10px;
  widows: 50px;
}

.grp-btn {
  display: flex;
  border: none;
}

.display-contents {
  display: contents !important;
}