.f-size {
    font-size: 10px;
}
.sm-window {
    max-height: 120px;
    height: auto;
    overflow-y: auto;
}
.flexer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fonter{
    font-size: 12px;
}

::ng-deep .mat-radio-label {
    white-space: pre-wrap !important;
}

::ng-deep .mat-list-text{
    font-size: 12px !important;
}

::ng-deep .mat-list-base{
    padding-top: 0 !important;
}