<div class="container mb-3">
  <div class="row mt-3">
    <p class="font-weight-bold" style="padding-left: 70px;">Segment Grid</p>
  </div>
  <div class="row">
    <div class="col">
      <div id="Sample" style="margin-bottom: 5px;">
        <!-- <app-tree-grid [data]="segmentData"></app-tree-grid> -->
        <div id="input-org-chart-container"></div>
        <div id="edit-panel">
          <!-- <div id="chart-state-panel" class="radio-panel">
              <input type="radio" name="chart-state" id="rd-view" value="view"><label
                  for="rd-view">View</label>
              <input type="radio" name="chart-state" id="rd-edit" value="edit" checked="true"><label
                  for="rd-edit">Edit</label>
          </div> -->
          <div class="row float-l-width" style="margin: 0 5px;">
            <div class="col-sm-3">
              <label class="control-label selected-node-group">Selected node:</label>
              <input type="text" id="selected-node" class="form-control selected-node-group">
            </div>
            <div class="col-sm-3">
              <label class="control-label">New node:</label>
              <ul id="new-nodelist" style="margin: 0;">
                <li><input type="text" class="form-control new-node"></li>
              </ul>
            </div>
            <div class="col-sm-3" style="padding-top: 33px">
              <div id="node-type-panel" class="radio-panel float-l" style="margin-top: 5px;">
                <input type="radio" name="node-type" id="rd-child" value="children">
                <label for="rd-child">Child</label>
              </div>
              <button type="button" id="btn-add-nodes" mat-raised-button color="primary">Add</button>
              <button type="button" id="btn-delete-nodes" mat-raised-button
                      color="primary">Delete
              </button>
            </div>
            <div class="col-sm-3">
              <label class="control-label">Bifurcation Level</label>
              <select class="custom-select" [(ngModel)]="bifurcationLevel">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="row float-l-width">
      <div class="col">
        <button mat-raised-button color="primary" (click)="loadTableGrid()">Save & Proceed to Create Grid</button>
        <button mat-raised-button color="primary" class="float-right" (click)="toPreviousPage()">Back</button>
      </div>
    </div>
  </div>
