.scroll-area {
  width: 100%;
  height: 300px;
  overflow-y: scroll;
}

.container-fluid1{
  padding: 15px;
}

.delete-module {
  font-size: 30px;
  color: red;
  cursor: pointer;

  &:hover {
    color: black;
    opacity: 0.7;
  }
}
